# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Rider
.idea/

# Logs
Logs/

# Publish folder
publish/

# NuGet
*.nupkg

# EF Migrations SQL
*.sql

# OS files
Thumbs.db
.DS_Store

# User secrets (do not commit)
appsettings.Development.json

# Ignore local DBn*.mdf
*.ldf
